In [1]:
a = 'single_sample_Raw'
b = 'single_sample_RBC_Raw'

In [37]:
import pandas as pd
a = 'D:\\Capstone\\CODE\\Capstone-system-integration\\demo ui\data\Count.csv'
WBC_Raw = pd.read_csv(a)

In [38]:
r = [i for i in range(1, 81)]
WBC_Raw= WBC_Raw.drop(r)

In [39]:
WBC_Raw = WBC_Raw.drop([81,82,83,84])

In [40]:
WBC_Raw

,Sample,InvL35_Exposure(us),InvL35_Total Frames,InvL350_Exposure(us),InvL350_Total Frames,L35_Exposure(us),L35_Total Frames,L350_Exposure(us),L350_Total Frames
0,HC201,66667,3083,6667,8942,66667,3235,6667,8942

In [41]:
WBC_Raw.to_csv('D:\\Capstone\\CODE\\Capstone-system-integration\\demo ui\data\single_sample_Count.csv')